*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div.menu nav{
    background-color: black;
    color:white;
    width: 40px;
    position: absolute;
    top:0;
    left: 0;
    bottom:60px;
    overflow: hidden;
}

nav ul{
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

nav ul li span{
    display: none;
}

/*nav ul li:hover span,
nav ul li:hover i.fas,
nav ul li:hover i.far{
    cursor: pointer;
    color: white;
}
nav ul li:active{
    cursor: pointer;
    color: white;
}*/

.logo{
    display: none;
}

div.menu img{
    width: 25px;
    height: 25px;
}

nav img.profile{
    background-color: gray;
    border-radius: 50%;
}

nav img.download{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

i.fas.fa-plus-square {
    display: block;
    font-size: 35px;
    color: gray;
}

.menu .icone-sopra div.playlist {
    display: none;
}
.menu .icone-sotto hr{
    display: none;
}
.menu .icone-sotto{
    z-index: 1;
    background: black;
}
/*BOTTONE UPGRADE*/

div.upgrade{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    height: 60px;
    position: absolute;
    top: 0;
    left:40px;
    right: 0;
}

div.upgrade span{
    display: inline-block;
}

div.bottone{
    border:1px solid white;
    border-radius: 20px;
    min-width: 40%;
    text-align: center;
    padding:10px;
    float: right;
    font-size: 11px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 20px;
    overflow: hidden;
}

div.bottone:hover{
    cursor: pointer;
    transform: scale(1.1);
}
div.bottone:active{
    cursor: pointer;
    transform: scale(1.1);
}

/*MAIN MAIN MAIN MAIN MAIN MAIN MAIN */
main{
    background: #1d1d24;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 60px;
    left: 40px;
    right: 0;
    overflow: auto;
}

section.main{
    /*background-color: blue;*/
    min-height: calc(100% - 60px);
    width: 100%;
    position: relative;
    top:60px;
}

main section.menu{
    /*background-color: skyblue;*/
    width: 100%;
    color: grey;
}

main .brani-principali{
    /*background-color: thistle;*/
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.brani-principali .titolo{
    width: 80%;
    margin: 20px 10px;
    margin-right: 13%;
    font-size: 40px;
    color: white;
}

main .menu ul{
    list-style: none;
    display: flex;
    justify-content:center;
    flex-flow: row wrap;
}
main .menu li{
    margin: 8px 8px;
    font-size: 12px;
    text-transform: uppercase;
}

.main .menu li hr {
    width: 40%;
    background-color: green;
    border: 1px solid green;
    margin: 0 auto;
}

main .menu li:hover{
    color: white;
    cursor: pointer;
}

main section .brani{
    width: 45%;
}
main section .immagine img{
    width: 100%;
}
main .testo{
    width: 100%;
}

section.brani-principali .testo h5{
    margin:10px 0;
    font-size: 16px;
    text-align: center;
    color:white;
}
section.brani-principali .testo span{
    margin:10px 0;
    font-size: 16px;
    text-align: center;
    display: block;
    font-size: 13px;
    color:grey;
}

section.musica-johndoe .titolo p,
section.artisti-popolari .titolo p{
    color: grey;
    font-size: 13px;
}

/*MAIN HOVER*/

.brani-principali .brani div.immagine{
    position: relative;
}

.brani-principali.artisti-popolari div.immagine{
    border-radius: 50%;
    overflow: hidden;
}

.brani-principali .brani:hover{
    cursor: pointer;
}

.brani-principali .brani:hover div.immagine::after,
.brani-principali .brani:active div.immagine::after{
    content: "\f144";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}




/*FOOTER FOOTER FOOTER FOOTER FOOTER */
i{
    font-size: 12px;
    color: white;
}

footer{
    background-color: rgb(51, 51, 51);
    height: 60px;
    width: calc(100%);
    position: absolute;
    bottom:0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

footer div{
    height: 100%;
    float: left;
    /*color: white;*/
}

/*DIV BRANO SELEZIONATO*/
footer .brano{
    /*background-color: red;*/
    width: 135px;
    display: flex;
    align-items: center;
}
footer .brano .immagine{
    overflow: hidden;
    /*background-color: yellow;*/
    height: 35px;
    width:40px;
    margin: 0 10px;
}
footer .brano .immagine img{
    width: 100%;
    height: 100%;
}

footer .brano .titolo{
    /*background-color: rgb(44, 197, 202);*/
    height: 60%;
    width: 45px;
    font-size:12px;
}

footer .brano .titolo h5{
    color: white;
}
footer .brano .titolo span{
    line-height: 1;
    color:gray;
}

footer .brano .titolo span:hover{
    cursor: pointer;
    text-decoration: underline;
}
footer .brano .titolo span:active{
    cursor: pointer;
    text-decoration: underline;
}

/*ICONA CUORE*/

footer .preferito i{
    display: block;
    color: grey;
}

footer .preferito i:hover{
    cursor: pointer;
    color:white
}
footer .preferito i:active{
    cursor: pointer;
    color:white
}


footer .preferito{
   /* background-color: blue;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/*DIV CONTROLLO MUSICA*/
footer .play{
   /* background-color: red;*/
    width: 50%;
}

footer .play .icone{
    /*background-color: orangered;*/
    height:50%;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .play .minuto{
    /*background-color: rgb(44, 197, 202);*/
    height:50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .play .minuto span{
    font-size: 9px;
    color: white;
}

i.fa-play-circle{
    font-size: 23px;
}
i.fa-play-circle:hover{
    transform: scale(1.1);
}
i.fa-play-circle:active{
    transform: scale(1.1);
}

footer .play .minuto .input-volume{
    width: 60%;
}

/*DIV CONTROLLO VOLUME*/
footer .volume{
    /*background-color: blue;*/
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.input-volume{
    width: 40%;
    height: 4px;
    border-radius: 5px;
    background-color:rgb(68, 68, 68);
}

div.sfera {
    width: 15px;
    height: 15px;
    position: relative;
    bottom: 6px;
    right: 6px;
    border-radius: 10px;
    background-color: yellowgreen;
    display: none;
}

div.input-volume:hover{
    cursor: pointer;
}

div.input-volume:hover div.sfera{
    display: block;
}
div.input-volume:hover .che-brutto-farlo-col-div{
    background-color: yellowgreen;
}

.che-brutto-farlo-col-div{
    width: 30%;
    height: 100%;
    background-color: #cecece;
}





/**/
@media (min-width: 576px){
    div.menu nav {
        width: 200px;
    }
    div.upgrade {
        left: 200px;    
    }
    main {
        left: 200px;    
    }

    nav ul li{
        justify-content: flex-start;
    }

    .logo{
        display: flex;
        margin: 10px 0;
    }
    img.logo{
        width: 100px!important;
        height: 30px!important;
    }

    .logo-small{
        display: none;
    }

    nav ul li span{
        display: block;
        color: gray;
        font-size: 14px;
        margin-left:10px;
    }
    nav ul li.profile span{
        color: white;
    }

    .menu .icone-sopra div.playlist {
        display: block;
        margin: 30px 0;
    }

    /*.menu .icone-sopra div.playlist .nome-playlist-scroll {
        overflow: auto;
        top: 260px;
        bottom: 70px;
        position: absolute;
        min-height: 84px;
        width: 70%;
    }*/
    
    .menu .icone-sopra div.playlist .nome-playlist-scroll span{
        margin-left: 0;
    }

    .menu .icone-sotto hr{
        display: block;
        width: 80%;
        transform: scaley(0.2);
    }

    footer .brano{
        width: 220px;
    }
    footer .brano .titolo{
        width: 80px;
    }
    footer .brano .immagine{
        width: 50px;
    }
    footer .volume {
        width: 25%;
    }
    footer .play {
        width: 45%;
    }

    nav ul{  
        margin-left: 10%;
        width: 90%;
    }
    nav img.download {
        margin-left: 0;
    }
    footer .play .minuto .input-volume {
        width: 80%;
    }
}


@media (min-width: 768px){
    main section .brani {
        width: 23%;
        margin: 0px 1%;
    }

    main .brani-principali {
        justify-content:unset;
        width: 98%;
        margin: 0 1%;
    }

    footer .play .icone{
        width: 300px;
    }
    footer .play{
         display: flex;
         flex-direction: column;
         align-items: center;
     }
}

@media (min-width: 992px){
    main section .brani {
        width: 14.667%;
        margin: 0px 1%;
    }
    div.bottone {
        min-width: 320px;
        margin-right: 5%;
    }
}


/*BONUS*/

@media screen and (max-height:350px) {
    div.upgrade{
        display: none;
    }    
}

@media (max-width: 576px){
    .musica-recente .brani:nth-of-type(1n+4){
        display: none;
    }
}

@media (max-width: 768px){
    .musica-recente .brani:nth-of-type(1n+4){
        display: none;
    }
}

@media (max-width: 992px){
    .musica-recente .brani:nth-of-type(1n+6){
        display: none;
    }
}

.freccia i{
    font-size: 35px;
    margin-bottom: 5px;
    animation: muoviti 2s 2;
    transition: all 0s ease 0s;
    opacity: 0;
}

.freccia{
    width: 60px;
    height: 60px;
    /*background-color: green;*/
    float: right;
    font-size: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@keyframes muoviti {
    0%{
        font-size: 35px;
        opacity: 1;
    }

    25%{
        margin-left: 28px;
    }

    50%{
        margin-left: 0px;
        transition: all 2s ease 2s;
    }

    75%{
        margin-left: 28px;
        opacity: 1;
    }
}

div.bottone{
    position: relative;
    max-height: 34px;
    overflow: visible;
}
div.bottone::after{
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 32px;
    animation: colorato 2s 0.3s linear 2;
}

@keyframes colorato{
    0%{
        border: 1px solid green;
        border-radius: 20px 0px 0px 20px;
        width: 0%;
        border-right: 0px;
        background-color: rgba(255, 255, 255,0.2);
    }
    25%{
        width: 50%;
        
    }
    50%{
        width: 80%;
        border-right: 1px;
    }
    90%{
         background-color: rgba(255, 255, 255,0.2);
         border: 1px solid green;
        border-radius: 20px 20px 20px 20px;
        width: 100%;
    }
    100%{
        opacity: 0;
    }
}

input#playlist{
    position: relative;
    top: 10px;
    right: 0px;
    width: 90%;
    height: 36px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

label[for="playlist"]{
    /*riga 480 modalità precedente*/
    overflow: auto;
    top: 275px;
    bottom: 70px;
    position: absolute;
    min-height: 84px;
    width: 70%;
    left: 10%;
}

label[for="playlist"]{
    left: -150px;
    transition: all 1.2s ease 0s;
}

#playlist:checked ~ label[for="playlist"]{
    left: 10%;
    transition: all 1.2s ease 0s;
}

label[for="crea-playlist"]{
    position: relative;
    top: -40px;
}

/*modalità precedente da riga 38*/
#playlist:hover ~ label[for="crea-playlist"] span,
#playlist:hover ~ label[for="crea-playlist"] i.fas,
#playlist:hover ~ label[for="crea-playlist"] i.far{
    cursor: pointer;
    color: white;
}
nav ul input#playlist:active{
    cursor: pointer;
    color: white;
}